<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Empleado - Turnos</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Turnos Asignados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Cliente</th>
                    <th>Servicio</th>
                    <th>Empleado</th>
                    <th>Sucursal</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="turno : ${turnos}">
                    <td th:text="${turno.hora}"></td>
                    <td th:text="${turno.cliente.nombre}"></td>
                    <td th:text="${turno.servicio.nombre}"></td>
                    <td th:text="${turno.empleado.nombre}"></td>
                    <td th:text="${turno.sucursal.nombre}"></td>
                    <td th:text="${turno.estado}"></td>
                    <td>
                        <a th:href="@{/empleado/turnos/{id}(id=${turno.idTurno})}" class="btn btn-primary">Modificar</a>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>